/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.project
/.nrepl-port
/.settings/ccw.repl.cmdhistory.prefs
/resources
/dev-resources
/bin